@charset "UTF-8";
/*
cores a serem usadas:
 

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


@font-face {
    
    font-family: 'streech';
    src: url(fontes/StretchPro.otf) format('opentype');
}

:root{
    --cor1: #012626;
    --cor2: #6BD6B9;
    --cor3: #038C7F;
    --cor4: #027368;
    --cor5: #01403A;
}
:root{
    /*Segunda paleta a ser base de exemplo*/
    --cor7: #012030;
    --cor8: #13678A;
    --cor9: #45C4B0;
    --cor10: #9AEBA3; 
    --cor12: #DAFDBA;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    height: 100vh;
    width: 100vw;
    
}section#login{  
    height: 45vh;
}
section#login > div#conta{
    background: linear-gradient(45deg, #081d1b83,#3b797283 60%, #43a198);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 2px solid #464e4d70;
    
    
    margin-top: -12px;
    width: 330px;
    height: 318px;
    border-radius: 6px;  
    
    
}
div#conta > h1{
    font-family: 'streech';
    font-size: 1.5em;
    color: #d2fff3;
    text-shadow: 5px 2px 5px var(--cor1);
    
}
div#conta > p{
    font-family:'Poppins', sans-serif;
    font-size: 0.8em;
    margin-top: 2px;
    margin-bottom: 5px;
    color: #d2fff3;
    text-shadow:2px 0px 5px #a0f7df;
}
section#signin{
    height: 55vh;
   
    
}
#criaruser{
    background: url(img/userCreate.png);
    width: 64px;
    height: 64px;
    margin: auto;
    margin-top: 5px;
}
section#signin > div#criar_conta{
    background: linear-gradient(45deg, #01203083,#027368b9 60%, var(--cor12) 120%);
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.171);
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-bottom: auto;
    margin-top: 10px;
    width: 330px;
    height: 350px;
    border-radius: 6px;
    padding-bottom: 20px;

    
}
div#criar_conta > h1{
    text-align: center;
    margin-top: 6px;
    font-family: 'streech';
    font-size: 1.7em;
    color: #d2fff3;
    text-shadow: 5px 2px 7px var(--cor1);
}
 #image{
    background-image: url(img/double-check.png);
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    margin: auto;
    
    
}
section#login > div#conta > h1{
    text-align: center;
}
section#login > div#conta > p{
    text-align: center;
}

div#nome_login{
    background: linear-gradient(90deg,#00ffe5cc, #133131a8 50%, #94fff473);
    box-shadow: 3px 2px 6px #0e2b28;
    margin: auto;
    margin-bottom: 11px;
    width: 200px;
    padding: 3px;
    border-radius: 5px;
}

#user_login{
    float: right;
    margin-top: 7px;
    margin-right: 10px;    
}
div#nome_login > input#inome{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: #ebfaf8;
}
#icon{
    cursor: pointer; 
    float: right;
    margin-top: -25.5px;
    margin-right: 6px;   
}
#icon.hide{
    background: url(img/hidden.png);
    cursor: pointer;
}
div#senha_login{
    background: linear-gradient(90deg,#00ffe5cc, #133131a8 50%, #94fff473);
    box-shadow: 3px 2px 6px #0e2b28;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
}
input#isenha{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: #ebfaf8;
}
#lembrar_de_mim{
    color: var(--cor2);
    text-align: center;
}
#lembrar_de_mim > label{
    font-family:'Poppins', sans-serif;
    font-size: 0.9em;
}
#link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 50%;
    font-size: 0.8em;
    margin-left: 82.6px;
    margin-top: 0px;
    
}
#wellcome_signin{
    background: linear-gradient(45deg, #046464, #6BD6B9);
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 2px 2px var(--cor1);
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 12px;
    height: 35px;
    width: 65%;
    border-radius: 5px;
    border: none;
    transition: .5s;
}
#wellcome_signin:hover{
    background: linear-gradient(45deg, #02383860, #6BD6B9);
    color: white;
    border:2px solid rgba(255, 255, 255, 0.192);
    transition: .5s;

}
#social > p{
    text-align: left;
    font-size: 1em;
    margin-top: 42px;
    margin-left: 70px;
    color: var(--cor3);
    font-family: 'Poppins', sans-serif;
}
#social > #img1{
    cursor: pointer;
    background: url(img/facebook.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top:88%;
    left: 49%;
    transform: translate(50%, 50%);   
}
#social > #img2{
    cursor: pointer;
    background: url(img/twitter.png);
    position: absolute;
    width: 24px;
    height: 24px;
    top: 88%;
    left:60%;
    transform: translate(50%, 50%);    
}#criarnome{
    background: linear-gradient(90deg,#00ffe5cc, #133131a8 50%, #94fff473);
    box-shadow: 3px 2px 6px #0e2b28;
    margin: auto;
    margin-bottom: 7px;
    margin-top: 3px;
    width: 280px;
    height: 40px;
    border-radius: 5px;
}
#criarnome > label{
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    margin-left: 2px;
}
#criarmail{
    background: linear-gradient(90deg,#00ffe5cc, #133131a8 50%, #94fff473);
    box-shadow: 3px 2px 6px #0e2b28;
    margin: auto;
    margin-bottom: 7px;
    width: 280px;
    height: 40px;
    border-radius: 5px;
}
#criarmail > label{
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    margin-left: 2px;
}
#criarsenha{
    background: linear-gradient(90deg,#00ffe5cc, #133131a8 50%, #94fff473);
    box-shadow: 3px 2px 6px #0e2b28;
    margin: auto;
    margin-bottom: 7px;
    width: 280px;
    height: 40px;
    border-radius: 5px;
}
#criarsenha > label{
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    margin-left: 2px;
}
#Inome{
    position: absolute;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: none;
    background-color: #ebfaf8;
    left: 9%;
    top: 34.6%;
}
#Imail{
    position: absolute;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: none;
    background-color: #ebfaf8;
    left: 9%;
    top: 48%;
    
}
#Isenha{
    position: absolute;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: none;
    background-color: #ebfaf8;
    left: 9%;
    top: 62%;
    
    
}
#locksenha{
    background: url(img/lock.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}