@charset "UTF-8";
/*
cores a serem usadas:
 

*/
:root{
    --cor1: #012626;
    --cor2: #04BFAD;
    --cor3: #038C7F;
    --cor4: #027368;
    --cor5: #01403A;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
    
}section#login{  
    height: 45vh;
}
section#login > div#conta{
    background-color: #027368;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-top: -12px;
    width: 300px;
    height: 45vh;
    border-radius: 6px;  
    
    
}
section#signin{
    height: 55vh;
    
}
section#signin > div#criar_conta{
    
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-top: 10px;
    width: 300px;
    height: 50vh;
    border-radius: 6px;
    padding-bottom: 20px;
    background-color: #41fdde;
    
}
 #image{
    background-image: url(img/chevron.png);
    background-repeat: no-repeat;
    width: 65px;
    height: 61px;
    margin: auto;
    
}
section#login > div#conta > h1{
    text-align: center;
}
section#login > div#conta > p{
    text-align: center;
}

div#nome_login{
    background-color: #000000;
    margin: auto;
    margin-top: 5px;
    width: 200px;
    padding: 3px;
    border-radius: 5px;
}

#user_login{
    float: right;
    margin-top: 7px;
    margin-right: 10px;    
}
div#nome_login > input#inome{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
}
#icon{
    cursor: pointer; 
    float: right;
    margin-top: -25.5px;
    margin-right: 6px;   
}
#icon.hide{
    background: url(img/hidden.png);
    cursor: pointer;
}
div#senha_login{
    background-color: #000000;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
}
input#isenha{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
}
#lembrar_de_mim{
    margin-top: 15px;
    text-align: center;
}
#wellcome_signin{
    display: block;
    margin: auto;
    margin-top: 25px;
    height: 55px;
    width: 65%;
}