@charset "UTF-8";
/*
cores a serem usadas:
 

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


@font-face {
    
    font-family: 'streech';
    src: url(fontes/StretchPro.otf) format('opentype');
}

:root{
    --cor1: #012626;
    --cor2: #6BD6B9;
    --cor3: #038C7F;
    --cor4: #027368;
    --cor5: #01403A;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    background: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    height: 100vh;
    width: 100vw;
    
}section#login{  
    height: 45vh;
}
section#login > div#conta{
    background: linear-gradient(45deg, #081d1b83,#3b797283 60%, #43a198);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 2px solid #464e4d70;
    
    
    margin-top: -12px;
    width: 330px;
    height: 45vh;
    border-radius: 6px;  
    
    
}
div#conta > h1{
    font-family: 'streech';
    font-size: 1.5em;
    color: #6BD6B9;
    text-shadow: 5px 2px 5px var(--cor1);
}
div#conta > p{
    font-family:'Poppins', sans-serif;
    font-size: 0.9em;
}
section#signin{
    height: 55vh;
    
}
section#signin > div#criar_conta{
    
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    margin-top: 10px;
    width: 300px;
    height: 50vh;
    border-radius: 6px;
    padding-bottom: 20px;
    background-color: #41fdde;
    
}
 #image{
    background-image: url(img/double-check.png);
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    margin: auto;
    
    
}
section#login > div#conta > h1{
    text-align: center;
}
section#login > div#conta > p{
    text-align: center;
}

div#nome_login{
    background-color: #000000;
    margin: auto;
    width: 200px;
    padding: 3px;
    border-radius: 5px;
}

#user_login{
    float: right;
    margin-top: 7px;
    margin-right: 10px;    
}
div#nome_login > input#inome{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
}
#icon{
    cursor: pointer; 
    float: right;
    margin-top: -25.5px;
    margin-right: 6px;   
}
#icon.hide{
    background: url(img/hidden.png);
    cursor: pointer;
}
div#senha_login{
    background-color: #000000;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
}
input#isenha{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: #c7f8f3;
}
#lembrar_de_mim{
    color: var(--cor2);
    text-align: center;
}
#lembrar_de_mim > label{
    font-family:'Poppins', sans-serif;
}
#link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 50%;
    font-size: 0.8em;
    margin-left: 82.6px;
    margin-top: 0px;
    
}
#wellcome_signin{
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 12px;
    height: 35px;
    width: 65%;
    border-radius: 5px;
    border: none;
}